a{
  display: inline-block;
  background-color: rgb(0, 58, 139);
  color: #fff;
  padding: 10px 15px;
  margin: 20px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgb(30, 33, 234);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s linear;
}
a:hover{
  background-color: rgba(56, 69, 246, 0.66);
  
}

.alert{
  display: block;
  border: 1px solid #f12424;
  background-color: #fb6d6d;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  width: 50%;
  margin: auto;
}